<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="warning"></ion-icon>
       
      </ion-button>
    </ion-buttons>
    <ion-title>Nuestro Proyecto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

<ion-grid fixed>
  <ion-row>
 
  <ion-card>
    <img src="/assets/img/nosotros.png" > </ion-card>
    <br>
    <br>

    <h1>Bienvenido a "RegistrApp," nuestra solución al anticuado registro de asistencia en 
    instituciones educativas. Nuestra aplicación está diseñada y pensada para docentes y estudiantes, facilitando el registro
    de asistencia a clases presenciales.</h1>
    <br>

    <ion-item-divider >
      <ion-label ><h1> ¿Pero como funciona? </h1></ion-label>
    </ion-item-divider>

    <p>"RegistrApp" se basa en la tecnología de códigos QR para el proceso de registro de asistencia. Asi es como funciona:</p>
    <ion-card>
      <img src="/assets/img/asistencia.png" />
      <ion-card-header>
        <ion-card-title>Registro de Asistencia Rápido:</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <h2>Los docentes pueden generar códigos QR únicos para cada clase con un solo clic</h2>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <img src="/assets/img/qr.jpg" />
      <ion-card-header>
        <ion-card-title>Escaneo Fácil:</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <h2>Los estudiantes simplemente abren la aplicación, escanean el código QR en el aula y registran su asistencia en cuestión de segundos.</h2>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <img src="/assets/img/seguro.png" />
      <ion-card-header>
        <ion-card-title>Es seguro:</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <h2>Los datos de asistencia se almacenan de forma segura y solo se puede acceder a través de cuentas registradas!</h2>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img src="/assets/img/informe.png" />
      <ion-card-header>
        <ion-card-title>Informes de Asistencia</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <h2>Los docentes pueden generar informes de asistencia detallados con un historial completo de asistencia de sus clases.</h2>
      </ion-card-content>
    </ion-card>


    <h1>¿Y tú que esperas? Escanea el código QR y descarga la app ya!</h1>
    <br>



    <ion-card>
      <img src="/assets/img/qrapp.png" />
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>



  <p>
    RegistrApp todos los derechos reservados.
  </p>
  
</ion-content>

