<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Alumno</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-img class="icon"
    src="assets/img/iconRegistApp.png">
  </ion-img>
  <br>
  <br>      <!--Estos br son para que tomen un poco de distancia la frase y el logo-->
  <h1>Crea una cuenta de Alumno en RegistApp</h1>
  <br>
  <br>      <!--Estos br son para que tomen un poco de distancia la frase y el logo-->
  <form [formGroup]="formReg" (keyup.enter)="Registrarse()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="nombre" formControlName="nombre" name="nombre" required
      ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"  required
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" name="email" required
      ></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button (click)="Registrarse()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>