<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="warning"></ion-icon>
       
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Feriados!</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-grid fixed>
    <ion-row>

      <ion-card >
        <img src="/assets/img/feriado.svg" > </ion-card>

      <h1>Aquí podrás ver los días feriados de este año, días en los cuales no se registrará la asistencia. </h1>
      <br>
      <ion-col size="6" size-md="4" *ngFor ="let feriado of feriados" >
        <ion-card-header>
          <ion-card-subtitle>{{feriado.date}}</ion-card-subtitle>
          <ion-card-title>{{feriado.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          
          {{feriado.extra}}
        
        </ion-card-content>
          





      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
