
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Log In | Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img class="icon"
      src="assets/img/iconRegistApp.png">
  </ion-img>
  
  <ion-img class="iconuser"
    src="assets/img/iconuser.png">
  </ion-img>

  <form [formGroup]="FormLogIn">
    <ion-item button detail lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"  formControlName="email" required
                ></ion-input>
    </ion-item>
    <br>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="******" formControlName="password" required
                ></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button type="submit" shape="round" button detail expand="block" (click)="Ingresar()">Iniciar sesión</ion-button>
        <br>
        <a id="olv" [routerLink]="['/restablecer-pass']"  class="small-text">¿Olvidaste la contraseña?</a>&nbsp;
        &nbsp;
        &nbsp;
        <a id="olv" [routerLink]="['/registro-usuario']"  class="small-text">¿No tienes una cuenta?</a>
      </ion-col>
    </ion-row>
  </form>
    

</ion-content>
